<li class="menu__item">
	<div class="card">

		<img src="{{images}}" alt="{{name}}" class="card__image" />

		<div class="card__content">
			
			<p class="card__price">x{{name}}</p>

			<p class="card__descr">y{{dates.start}}</p>

            <p class="card__descr">z{{_embedded.venues.name}}</p>

			
		</div>

	</div>
</li>
